.container {
    width: 100%;
    margin: 0 auto;
}

.left {
    background-color: black;
    float: left;
    width: 80%;
    color: #D4BC66;
    height: 30px;
    position: relative;
}

.p-1 {
    position: absolute;
    top: 20%;
    left: 2%;
}

.p-1 a {
    color: #D4BC66;
    text-decoration: none;
}

.p-2 {
    position: absolute;
    top: 20%;
    right: 2%;
}


.right {
    float: right;
    width: 20%;
    height: 30px;
    background-color: black;
    color: #D4BC66;
}
.p-3 {
    padding-top: 5px;
    text-align: center;
    color: #D4BC66;
}

.p-3 a {
    color: #D4BC66;
    text-decoration: none;
}

.h-nav {
    clear: both;

}

.h-menu {
    letter-spacing: -.4em;
}

.h-list {
    display: inline-block;
    width: calc(100%/5);
    position: relative;
    letter-spacing: normal;
    height: 64px;
    border-right: 1px solid black;
    box-sizing: border-box;
    color: white;
    background-color: #D4BC66;
    vertical-align: bottom;
   
}



.h-l-box:hover {
    color: white;
    border-bottom: 3px solid white;
    transition: .4s;
}




.h-l-box {
  color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.h-l-top {
    font-size: 15px;
    margin-bottom: 4px;
    text-align: center;
    
}

.h-l-bottom {
    padding-bottom: 2px;
    font-size: 8px;
    text-align: center;
}


main {
    clear: both;
    background-color: #121212;
}

  
  
  .section1 {
      background-color: #121212;
      color: white;
      text-align: center;
      margin: 0 180px 0 180px;
      font-family: 'Times New Roman', Times, serif;
      line-height: 1.5;
      padding: 100px 0;
  }


  .h1 {
    font-size: 30px;
    margin: 0 150px 20px 150px;
    border-bottom: 2px solid #D4BC66;
    padding-top: 50px;
  }

  .h2 {
    line-height: 2.5;
  }

  .m-p {
       font-size: 14px;
       padding-bottom: 30px;
       line-height: 2;
  }

.ken {
    width: 60%;
    height: auto;
}

  .h3 {
      font-size: 30px;
      background-color: #D4BC66;
      border-radius: 5px;
      margin: 0 300px;
  }

  .h3 a {
    color: white;
    text-decoration: none;
  }

  
  .left1 {
      font-family: 'Times New Roman', Times, serif;
      color: white;
      text-align: center;
      height: 550px;
      float: left;
      width: 65%;
      background-color: black;
  }

  
  .h4 {
      font-size: 35px;
      margin: 40px 100px;
      border-bottom: 2px solid #D4BC66;
  }

  .t-p {
      font-size: 20px;
      margin: 0 60px;
      line-height: 2;
      padding-bottom: 30px;
  }
  
  .p-p {
    margin: 0 280px;
    font-size: 25px;
    background-color: #D4BC66;
    border-radius: 5px;
  }

  .p-p a {
      color: white;
      text-decoration: none;
  }

  .right1 {
      width: 35%;
     float: right;
     height:550px;
     
  }

  .left2 {
    width: 35%;
    float: left;
    height: 400px;
  }

  .right2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    height: 400px;
    float: right;
    width: 65%;
    background-color: #121212;
  }
  
  .h5 {
      font-size: 40px;
      text-align: center;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      padding-top: 50px;

  }
  

.footer {
  background-color: #121212;
  
}

.a {
  color: #121212;
  padding-bottom: 20px;
}

.table {
    margin-left: 60px;
    line-height: 3;
  }

  .t-left {
      padding-right: 130px;
  }
    

.h6 {
  font-size: 42px;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #3B4552;
  font-family: 'Times New Roman', Times, serif;
}

.memo {
  margin-left: 250px;
  padding-bottom: 50px;
}

.f-p {
  padding: 30px 30px 0 0;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.f-p a {
  color: #fff;
}

.f-left {
  
  float: left;
 
}

.f-left a {
  color: #fff;
   text-decoration: none;
}

.mark {
  padding-right: 10px;
}

.f-right {
  display: inline-block;
  color: #fff;
}
  
.footer-under {
  padding-top: 5px;
  border-top: 1px solid #fff;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: #121212;
}

.footer-under a{
  line-height: 3;
  text-decoration: none;
  color: #fff;
}


 



 #nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 7px;
  width: 30px;
  background: #666;
  content: "";
  cursor: pointer;
}

#nav-open span {
  top: 38px;
  right: 30px;
}

#nav-open span:before {
  bottom: -12px;
}

#nav-open span:after {
  bottom: -24px;
}



#nav-contents {
  display: none;
}

.nav-invisible {
display: none;
}

#nav-contents {
  position: absolute;
  top: 100px;
  z-index: 100;
  width: 100%;
  height: auto;
  background: black;
  transition: .3s;
  opacity: 0;
}

#nav-input:checked ~ #nav-contents {
  display: block;
  opacity: .8;
}

.sp-menu {
  display: none;
}

.sp-menu-list {
  border-bottom: 1px solid white;
  text-align: left;
  line-height: 2.0;
  padding: 10px;
}

.sp-menu-list:hover {
  background-color: #D4BC66;
}

.sp-menu-list a {
  color: white;
  text-decoration: none;
}

.sp-menu-top {
  font-size: 15px;
}

.sp-menu-bottom {
  font-size: 8px;
}

@media screen and (max-width: 780px){
   body {
       font-size: 12px;
       line-height: 1.5;
   }
  
.container {
  width: 98%;
}
.h-title .h-logo {
  width: 60%;
}


#nav-open span:before {
  bottom: -12px;
  left: 0px;
}

#nav-open span:after {
  bottom: -24px;
  left: 0px;
}

.m-header {
  display: none;
}

.h-nav {
  display: none;
}

.m-h2, .m-h3 {
   font-size: 16px;
   padding: 7px 6px 7px 8px;
}

.m-h2::first-letter {
   padding-left: 8px;
}

.m-info-date {
  font-size: 8px;
}
.m-info-content {
   font-size: 8px;
   line-height: 1.5;
}

.m-info-new {
  font-size: 8px;
  padding: 1px 2px;
}

.m-log a {
  font-size: 12px;
}

.sp-menu {
  display: block;
}

.main {
   float: none;
   width: auto;
}

.contents {
   padding: 2%;
}

.side {
   float: none;
   width: auto;
}


.h1 {
  margin: 0;
  width: 100%;
}

.section1 {
 font-size: 18px;
  text-align: center;
  margin: 0 20px;
}

.m-p {
  padding-bottom: 10px;
}

.ken {
  width: 90%;
}


.h3 {
  margin: 0 10px;
}

.section2 {
  width: 100%;

}


.t-left {
  padding-right: 30px;
}

.left1 {
  text-align: center;
  float: none;
  width: 100%;
  height: auto;
  
}

.h4 {
 width: 100%;
 font-size: 22px;
 margin: 20px 0;
}

.t-p {
  margin-top: 10px;
  font-size: 13px;
}

.p-p {
  margin: 2px 20px 20px 20px;
}

div {
  text-align: center;
}
.right1 {
  height: auto;
  width: 50%;
  margin: 0 auto;
  float:none;
  width: 70%;
}

.left2 {
  height: auto;
  width: 50%;
  margin: 0 auto;
  float:none;
  
}

.right2 {
  text-align: center;
  float: none;
  width: 100%;
  height: auto;
}
.m-date {
  font-size: 16px;
  margin: 0px;
  float: none;
}

.m-contents {
  font-size: 14px;
}
.dete {
  font-size: 16px;
  float: none;
}

.contents {
  font-size: 14px;
}

.c-p {
  margin: 12px 40px;
}

.h6 {
  font-size: 22px;
  margin: 10px 50px;
}

.memo {
  margin: 0 auto;
  text-align: center;
  height: auto;
}

.f-left {
  margin-left: 30px;
  text-align: left;
  float: none;
  font-size:15px;
}

.f-p {
  font-size: 12px;
}

}
